@page "/PostDetails"
@using Domain.Models
@using HttpClients.ClientInterfaces
@inject IPostService postService
@inject NavigationManager navMgr

<div class="post-card">
    <div>@post.title</div>
    <div>@post.postedOn</div>
    <div>@post.location</div>
    <div>@post.description</div>
    <div><!--image--></div>
    <div>@post.likes</div>
    <div>@post.tags</div>
</div>

@code {
    private Post post;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            post = (Post)await postService.GetAsync(Id, null, null);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }
    
}