@page "/posts/{id:int}"
@using Domain.Models
@using HttpClients.ClientInterfaces
@inject IPostService postService
@inject NavigationManager navMgr

@if (post != null)
{
	<div class="post-card">
		<div>@post.Title</div>
		<div>@post.PostedOn</div>
		<div>@post.Location</div>
		<div>@post.Description</div>
		<div><!--image--></div>
		<div>@post.Owner.UserName</div>
		<div>@post.Likes</div>
		<div>@post.Tags</div>
	</div>
}
else
{
	<NotFound/>
}

@code {
    private Post? post;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
	    try
        {
	        IEnumerable<Post> posts = await postService.GetAsync(Id);
	        post = posts.FirstOrDefault();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

}
