@namespace UIComponents
@using Report = Domain.Models.Report
@using Shared
@using Domain.Models
@using Domain.DTOs
@using HttpClients.ClientInterfaces
@using System.Security.Claims
@using BlazorWasm.Services

@inject IBanService banService
@inject IAuthService authService
@inject IAdminService adminService



<AuthorizeView>
    <Authorized>
        <h3>@Report.violation</h3>
        <p>Reported by: @Report.reportedBy.UserName</p>
        <div class="post-card">
            <div>@Report.reportedPost.Title</div>
            <div>@Util.DateTimeToRelativeTime(Report.reportedPost.PostedOn)</div>
            <div>@Report.reportedPost.Description</div>
            <img src="@Report.reportedPost.ImgUrl" alt="thumbnail"/>
            <div>@Report.reportedPost.Owner.UserName</div>
        </div>
	    <button @onclick="BanAsync">Ban</button>
	    <input type="text" @bind="reason">
	    <label style="color: red">@msg</label>
    </Authorized>
</AuthorizeView>

@code {

    [Parameter]
    public Domain.Models.Report? Report { get; set; }

	[Parameter]
	public EventCallback<string> OnClickCallback { get; set; }

	private string msg = "";
	private string reason = "";

    public async Task BanAsync()
    {
        ClaimsPrincipal context = await authService.GetAuthAsync();
        if (context.Identity?.Name == null)
        {
            msg = "You have to be logged in!";
            return;
        }

        IEnumerable<Admin> adminList = await adminService.GetAsync(context.Identity.Name);
	    Admin? admin = adminList.FirstOrDefault();

        if (admin == null)
        {
            msg = "Admin not found";
            return;
        }

        BanCreationDto dto = new BanCreationDto
        {
            Admin = admin.username,
            PostId = Report.reportedPost.Id,
	        Reason = reason
        };
        await banService.CrateAsync(dto);

	    msg = "Successfully banned post";

	    await OnClickCallback.InvokeAsync();

    }

}
