@using Domain.Models
@namespace UIComponents
@using HttpClients.ClientInterfaces
@using Domain.DTOs
@using System.Security.Claims
@using BlazorWasm.Services
@using HttpClients.Implementations
@inject NavigationManager navMgr

<div class="post-card">
    <div>@Post.Title</div>
    <div>@Post.PostedOn</div>
    <div>@Post.Coordinate</div>
    <div>@Post.Description</div>
    <img src="@Post.ImgUrl" alt="thumbnail"/>
    <div>@Post.Owner.UserName</div>
    <div>@Post.Likes</div>
    
    <AuthorizeView>
        <Authorized>
            <LIkeButton PostId="Post.Id" UpdateParentsLikes="UpdateLikes"/>
        </Authorized>
    </AuthorizeView>
</div>

@code {

    [Parameter]
    public Post? Post { get; set; }
    
    private void UpdateLikes(int changeDiff)
    {
        Post.Likes += changeDiff;
        StateHasChanged();
    }
}