@namespace UIComponents
@using Report = Domain.Models.Report
@using Shared
@using static Shared.Util;

@using Domain.Models
@using Domain.DTOs
@using HttpClients.ClientInterfaces
@using System.Security.Claims
@using BlazorWasm.Services

@inject IBanService banService

		<h1>Loremmmmmmmm</h1>
		<h3>@Report.violation</h3>
		<p>Reported by: @Report.reportedBy.UserName</p>
		<div class="post-card">
		<div>@Report.reportedPost.Title</div>
		<div>@Util.DateTimeToRelativeTime(Report.reportedPost.PostedOn)</div>
		<div>@Report.reportedPost.Description</div>
		<img src="@Report.reportedPost.ImgUrl" alt="thumbnail"/>
		<div>@Report.reportedPost.Owner.UserName</div>
		</div>
		<button @onclick="BanAsync">Ban</button>
		<input type="text" @bind="reason">
		@* <label style="color: red">@msg</label> *@


@code {
	[Parameter]
    public Domain.Models.Report? Report { get; set; }
	[Parameter]
	public EventCallback<string> OnClickCallback { get; set; }

	[Parameter]
	public Admin? Admin { get; set; }

	private string reason = "";

	public async Task BanAsync()
    {

		if (Admin != null)
		{

	        BanCreationDto dto = new BanCreationDto
	        {
	            Admin = Admin.username,
	            PostId = Report.reportedPost.Id,
		        Reason = reason
	        };
	        await banService.CrateAsync(dto);

			await OnClickCallback.InvokeAsync();

		}
    }

}
