@using Domain.Models
@namespace UIComponents
@using HttpClients.ClientInterfaces
@using Domain.DTOs
@using System.Security.Claims
@using BlazorWasm.Services
@using HttpClients.Implementations
@using Shared
@inject NavigationManager navMgr
@inject ICommentService commentService
@inject IAuthService authService
@inject IPostService postService
@inject IUserService userService

<div class="post-card">
    <div>@Post.Title</div>
    <div>@Util.DateTimeToRelativeTime(Post.PostedOn)</div>
	<div>@Post.Description</div>
    <img src="@Post.ImgUrl" alt="thumbnail"/>
    <div>@Post.Owner.UserName</div>
    <div>@Post.Likes</div>

    <AuthorizeView>
	    <Authorized>

		    <LIkeButton PostId="Post.Id" UpdateParentsLikes="UpdateLikes"/>

		    <div >
			    <p>comment: </p>
			    <input type="text" @bind="commentInputText"/>
			    <button @onclick="PublishAsync">publish</button>
		    </div>
		    @if (Post.Owner.UserName == @context.User.Identity.Name)
		    {
			    <div><img class="icon delete-button" src="img/bin.png" alt="bin" @onclick="Delete"/></div>
			    <div><img class="icon edit-button" src="img/edit.png" alt="edit" @onclick="Edit"/></div>

		    }
		    <Report PostId="Post.Id" UserId="userId"></Report>
		    <h1>@msg</h1>
	    </Authorized>
    </AuthorizeView>

    @if (comments.Any())
    {
        <ol>
            @foreach (var comment in comments)
            {
                <li>
                    <SingleComment Comment="@comment"/>
                </li>
            }
        </ol>
    }

</div>

@code {
    [Parameter]
    public Post? Post { get; set; }

    private ICollection<Comment> comments = new List<Comment>();

    private string commentInputText = "";
    private string msg;
    private long userId;

    private async Task PublishAsync()
    {
        if (string.IsNullOrEmpty(commentInputText))
        {
            return;
        }

        try
        {
	        if (userId == 0)
	        {
		        msg = "You have to be logged in!";
		        return;
	        }

			await commentService.CreateAsync(commentInputText, userId, Post.Id);
            commentInputText = "";

            await UpdateCommentsAsync();

            StateHasChanged();


        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
	        userId = await authService.GetLoggedUserId();
            await UpdateCommentsAsync();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }



    private void UpdateLikes(int changeDiff)
    {
        Post.Likes += changeDiff;
        StateHasChanged();
    }

    private async Task UpdateCommentsAsync()
    {
        try
        {
            comments = await commentService.GetCommentsByPostAsync(Post.Id);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }

    private async Task Delete()
    {
        try
        {
            await postService.DeleteAsync(Post.Id, Post.Owner.Id);
            navMgr.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }

    private async Task Edit()
    {
        try
        {
            navMgr.NavigateTo($"EditPost/{Post.Id}");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }

}
